/*애플리케이션 전체에 공통적으로 적용될 스타일을 정의. 폰트 설정, 배경색 초기화, Tailwind CSS의 @tailwind base; 설정 등 main.jsx에서 임포트되어 프로젝트 전역에 작용*/
@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
  background: #131313;
}

body {
  overflow: hidden;
  font-family: system-ui, sans-serif;
}